    <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item">
    <%= image_tag '1.jpg',:style=>'height:550px'%>
    </div>
    <div class="item">
    <%= image_tag '2.jpg',:style=>'height:550px'%>
    </div>
    <div class="item">
    <%= image_tag '3.jpg',:style=>'height:550px'%>
    </div>
    <div class="item">
    <%= image_tag '4.jpg',:style=>'height:550px' %>
    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
