%h2 Success!
%br
%h2 We will send you an invite as soon as spaces open up!
%br
%h2 
  In the mean time, you can earn 
  //= link_to 'purchase credits', "#{root_url}?referer=#{@subscriber.email}"
  = link_to 'credits for purchase', '#myModal', 'data-toggle'=>'modal' 
  by referring friends.
%br
