    <%= render 'layouts/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hi There! How Can We Help?</h1>
	<br>
	<p>Email us at <a href="#">Ingidio.tv@gmail.com</a> . We will respond as soon as we can. Promise!</p>
      </div>
	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
