= render 'custom_css'
.row-responsive
  .span6
    .hero-unit
      %p{:style=>'font-size:2.5em;color:#544E4F;word-spacing:0px;line-height:33px'} 
        Bossary grants you access to great 
        %b{:style=>'color:#fff;font-weight:bold;'}
          men's products 
        that
        %b{:style=>'color:#ea9a28;font-weight:bold'}
          enhance your lifestyle
        at up to
        %br
        %b{:style=>'color:#fff;font-weight:bold;'}
          80% off.
      %br
      #response
      Members-only
      = render 'sign_up_form'
    //  =form_for 'subscriber', :url=> sub_index_path, :method => 'post', :remote => true do |f|
    //    #response{:style=>'display:none;'}
    //    #sub_form      
    //      =f.text_field :email, :style=>'font-size:2em;height:1.5em;width:10em'
    //      %button{:class=>'btn btn-warning btn-large',:id=>'subscribe_button',:style=>'font-size:1.5em;height:2.4em'} Request Invite
  .span6{:id=>'page-right',:style=>'float:right;right:0;'}
    .hero-unit{:style=>'display:none;',:id=>'right-hero'} 
