<%= form_for "custom_urls",:url=>{:controller=>'custom_urls', :action=>'create'},:method=>'post' do |f|%>

	<h3>URL End Point (ie. 'manga' for ingidio/managa, 'food' for ingidio/food)</h3>
	<%= f.text_field :end_point,:placeholder=>'example' %>
	<br>
	<h3>External URL (ie. URL you are linking to. Ends with .net, .com or whatever)</h3>
	<%= f.text_field :url,:placeholder=>'example.com' %>
	<br>
	<%= f.submit, :class=>'btn btn-large btn-primary' %>
	<button class='btn btn-large btn-primary' type='submit'>
		Add Link
	</button>
<% end %>
