$('.alert').remove();
$('#response').hide();
$('#response').append("<% if @success %><script>$('#sub_form').hide();</script><div class='alert alert-success'><p><%= @msg %></p></div><% else %><div class='alert alert-error'><%= escape_javascript(render 'shared/error_messages',:object=>@subscriber) %></div><script>$('#subscribe_button').button('reset')</script><% end %>");
$('#response').show();
//$('#response').slideDown(500);

