$('.alert').remove();
//$('#response').hide();
//$('#response').append("<% if @success %><script>$('#sub_form').hide();</script><div class='alert alert-success'><p><%= @msg %></p></div><% else %><div class='alert alert-error'><%= escape_javascript(render 'shared/error_messages',:object=>@subscriber) %></div><script>$('#subscribe_button').button('reset')</script><% end %>");
//$('#response').show();

//$('#response').slideDown(500);

function switch_hero () {
  $('.hero-unit').hide();
  $('.hero-unit').html('<%= escape_javascript(render 'pages/success_message') %>');
  $('.hero-unit').fadeIn(500);
}

<% if @success %>
switch_hero();
$('#subscribe_button').button('reset');
<% else %>
$('#response').hide();
$('#response').append("<div class='alert alert-error'><%= escape_javascript(render 'shared/error_messages',:object=>@subscriber) %></div>");
$('#subscribe_button').button('reset');
$('#response').fadeIn(500);
//$('#subscribe_button').button('reset');
<% end %>
