<<<<<<< HEAD
      <!--<footer>
        <p>&copy; 2012</p>
      </footer>-->
=======
<div class="container">
      <footer>
        <p>&copy; InGidio Technologies 2012</p>
      </footer>
</div>
>>>>>>> 91573a0b05be32ea0c8f0e211fcadc44b26f6375


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>

